/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: Inter;
  --accent-font: PressStart2P;
  --font-normal-weight: 400;
  --font-bold-weight: 700;
  --back-color: #fff;
  --accent-color: #000;
  --back-img: repeating-linear-gradient(
      90deg,
      #d3d3d3 0 2px,
      rgb(0 0 0 / 0) 2px 4px
    ),
    repeating-linear-gradient(180deg, #d3d3d3 0 2px, rgb(0 0 0 / 0) 2px 4px),
    linear-gradient(180deg, #e7e7e7 0, #e7e7e7 0.01%, #1a1a1a 100%);
  --button-fill: var(--back-color);
  --sparks: #ff0000;
}
